@import url('../../styles/css/root.css');

.labelFloat {
  position: relative
}

.labelFloat select {
  height: 42px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  outline: none;
  padding: 0px 1em;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-appearance: none;
  font-family: inherit;
  color: var(--gray);
}

.labelFloat select:focus {
  border: 1px solid var(--green);
}

.labelFloat label {
  pointer-events: none;
  position: absolute;
  inset: 2px auto auto 15px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  background: var(--white);
  padding: 0 4px;
  box-sizing: border-box;
  font-size: 0.8em;
  font-family: inherit;
  color: var(--green);
  font-weight: 600;
}

@media screen and (min-width: 700px) {
  .labelFloat select {
    width: 100%;
  }

  .labelFloat {
    position: relative;
    padding-top: 12px;
  }

}

@media screen and (max-width: 699px) {

  .divFloat {
    display: block;
  }

  .labelFloat {
    position: relative;
    padding-top: 10px;
  }

  .labelFloat select {
    width: calc(100% - 6px);
  }

}
